In [30]:
import pandas as pd
import numpy as np
from sklearn.metrics import accuracy_score
from sklearn.ensemble import GradientBoostingClassifier

In [33]:
df = pd.read_csv("/Users/Apple/pyds/資料科學馬拉松/ML100Day/Data/data-science-london-scikit-learn/train.csv",header=None)
target = pd.read_csv("/Users/Apple/pyds/資料科學馬拉松/ML100Day/Data/data-science-london-scikit-learn/trainLabels.csv",header=None)
train_df=pd.concat([df,target],axis=1)
train_df.columns = np.arange(0,train_df.shape[1])

In [34]:
need_index=train_df.corr().sort_values(by=40,ascending=False).head(6).index

In [35]:
# 切分訓練集/測試集
x_train, x_test, y_train, y_test = train_test_split(train_df[need_index[1:]], target, test_size=0.25, random_state=42)

# 建立模型
clf = GradientBoostingClassifier(random_state=7)#梯度上升回歸
# 先看看使用預設參數得到的結果，約為 8.379 的 MSE
clf.fit(train_df[need_index[1:]], target)
y_pred = clf.predict(x_test)
print(accuracy_score(y_test, y_pred))

/Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages/sklearn/utils/validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)

0.888

In [40]:
#test 
test_df = pd.read_csv("/Users/Apple/pyds/資料科學馬拉松/ML100Day/Data/data-science-london-scikit-learn/test.csv",header=None)
ans=clf.predict(test_df[need_index[1:]])

In [53]:
a=pd.DataFrame(ans).reset_index()
a.columns=["Id","Solution"]
a["Id"] = np.arange(1,9001)

In [55]:
a.to_csv("048_HW.csv",index=False)

        Id  Solution
0        1         1
1        2         0
2        3         0
3        4         0
4        5         1
...    ...       ...
8995  8996         1
8996  8997         1
8997  8998         0
8998  8999         0
8999  9000         1

[9000 rows x 2 columns]