## 讀取 txt 檔
* 請讀取 [text file](https://raw.githubusercontent.com/vashineyu/slides_and_others/master/tutorial/examples/imagenet_urls_examples.txt)
* 懶人複製連結: https://raw.githubusercontent.com/vashineyu/slides_and_others/master/tutorial/examples/imagenet_urls_examples.txt

### Hints: 使用 [Request](https://blog.gtwang.org/programming/python-requests-module-tutorial/) 抓取資料
### Hints: [字串分割](http://www.runoob.com/python/att-string-split.html)
### Hints: 例外處理: [Try-Except](https://pydoing.blogspot.com/2011/01/python-try.html)

# [作業目標]
- 試著讀取網頁上的圖片連結清單, 再以清單中網址讀取圖片

# [作業重點]
- 從網頁上讀取連結清單 (In[1], In[2])
- 從清單網址讀取圖片 (In[6]~In[9], Out[6]~Out[9])

In [86]:
## 假如我們不想把資料載到自己的電腦裡?
# 把連結填入
target_url = "https://raw.githubusercontent.com/vashineyu/slides_and_others/master/tutorial/examples/imagenet_urls_examples.txt"

In [87]:
import requests
response = requests.get(target_url)
data = response.text

# 用 request 傳送回來的資料不會認得斷行符號
print(len(data))
data[0:100]

784594

'n00015388_157\thttp://farm1.static.flickr.com/145/430300483_21e993670c.jpg\nn00015388_238\thttp://farm2'

In [88]:
# 找到換行符號，用該符號做字串分割後，把它拿掉
import re

split_tag = '[\n\t]+'
data = re.split(split_tag,data) 
#data = data.split(split_tag)
print(len(data))
data[0]

19991

'n00015388_157'

## 將 txt 轉成 pandas dataframe

In [94]:
import pandas as pd

#arrange_data=data[0::2]
df = pd.DataFrame({"picture":data[0:19990:2],"url":data[1::2]})
df.head()

         picture                                                url
0  n00015388_157  http://farm1.static.flickr.com/145/430300483_2...
1  n00015388_238  http://farm2.static.flickr.com/1005/3352960681...
2  n00015388_304  http://farm1.static.flickr.com/27/51009336_a96...
3  n00015388_327  http://farm4.static.flickr.com/3025/2444687979...
4  n00015388_355  http://img100.imageshack.us/img100/3253/forres...

In [95]:
df.head()

         picture                                                url
0  n00015388_157  http://farm1.static.flickr.com/145/430300483_2...
1  n00015388_238  http://farm2.static.flickr.com/1005/3352960681...
2  n00015388_304  http://farm1.static.flickr.com/27/51009336_a96...
3  n00015388_327  http://farm4.static.flickr.com/3025/2444687979...
4  n00015388_355  http://img100.imageshack.us/img100/3253/forres...

In [97]:
df.iloc[1,1]

'http://farm2.static.flickr.com/1005/3352960681_37b9c1d27b.jpg'

## 讀取圖片，請讀取上面 data frame 中的前 5 張圖片

In [110]:
from PIL import Image
from io import BytesIO
import numpy as np
import matplotlib.pyplot as plt

# 請用 df.loc[...] 得到第一筆資料的連結
first_link = df.iloc[0,1]

response = requests.get(first_link)
img = Image.open(BytesIO(response.content))#response.content 返回是bytes的數據，適用於文件、圖片
#BytesIO 可以用於處理二進位制型別的資料。

# Convert img to numpy array

plt.imshow(img)
plt.show()

In [114]:
def img2arr_fromURLs(url_list, resize = False):
    """
    請完成這個 Function
    Args
        - url_list: list of URLs
        - resize: bool
    Return
        - list of array
    
    """
    from PIL import Image
    from io import BytesIO
    img_list=[]
    for i in url_list:
        response = requests.get(i)
        img = Image.open(BytesIO(response.content))
        img_list.append(img)
    
    return img_list

In [115]:
result = img2arr_fromURLs(df.iloc[:4,1].values)
print("Total images that we got: %i " % len(result)) # 如果不等於 5, 代表有些連結失效囉

for im_get in result:
    plt.imshow(im_get)
    plt.show()

### HW_1

In [117]:
import numpy as np
import pandas as pd
population = np.random.randint(1000000,size=5)
country =["Taiwan" ,"USA","Japan","France","UK"]
list_label_1 = [country,population]
colunms_name = ["country","population"]
zipped_1 = list(zip(colunms_name,list_label_1))

df = pd.DataFrame(dict(zipped_1))
df

  country  population
0  Taiwan      470637
1     USA      977068
2   Japan      491874
3  France      937926
4      UK       97466

In [119]:
df.loc[np.argmax(df["population"]),"country"]

'USA'